.icon-button {
    display: inline-flex;
    color: var(--tg-theme-link-color);
    background-color: var(--tg-theme-secondary-bg-color);
    border: none;
    border-radius: 0.75rem;
    padding: 0.375rem;
    cursor: pointer;
}